.deposit-card {
  grid-column: span 2;
  text-align: center;
}

.deposit-card input {
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.deposit-card button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deposit-card button:hover {
  background-color: #005fa3;
}
